/*
  set container width
*/
.site-content {
    max-width: 65rem ;
}
a.button.secondary {
  border-color:#B9B9B9;
  border-style:solid;
  border-width:1px;
}
/*
  When page width >= .site-content, set fixed-top-right
*/
@media(min-width: 65rem) {
  .large-6.fixed-top-right {
    width: calc(65rem*6/12);
    position: fixed;
    top: 45px;
  }
}
.org-logo {
  height: 50px;
  margin-right: 10px;
}
.joined {
  border-color: #3A945B #3A945B;
}
.organization-list > li > a {
  width: 150px;
}
.organization-list h4{
  margin: 0;
  padding:0;
  text-align: center;
}
.organization-list img {
  height: 100px;
  width: 150px;
}