<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
{{#each this}}
  <li>
    <h4>{{name}}</h4>
    <img style="height: 100px;" class="th" src="{{img.src}}"></img><br/>
    <button>Join</button>
  </li>
{{/each}}
</ul>
