/*
  set container width
*/
.site-content {
    max-width: 65rem ;
}
a.button.secondary {
  border-color:#B9B9B9;
  border-style:solid;
  border-width:1px;
}
/*
  When page width >= .site-content, set fixed-top-right
*/
@media(min-width: 65rem) {
  .large-6.fixed-top-right {
    width: calc(65rem*6/12);
    position: fixed;
    top: 45px;
  }
}