<div class="small-12 columns">
  <h3>Organizations:</h3>
  <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-6 organization-list">
  {{#each this}}
    <li>
      <a class="th {{#if joined}}joined{{/if}}" href="/organizations/{{id}}">
        <h4>{{name}}</h4>
        <img src="{{img.src}}"></img><br/>
      </a>
    </li>
  {{/each}}
  </ul>
</div>