<ul class="title-area">
  <li class="name">
    <h1><a href="/">Evitics</a></h1>
  </li>
</ul>
<section class="top-bar-section"> 
  <ul class="right">
    <li class="divider"></li>
    <li><a href="/organizations">Organizations</a></li>

    <li class="divider"></li>
    <li><a href="/analyitics">Analytics</a></li>

    <li class="divider"></li>
    <li><a href="/marketing">Marketing</a></li>
    
    <li class="divider"></li>
    <li><a href="/triggers">Triggers</a></li>
    
    <li class="divider"></li>
    <li><a href="/help">Help</a></li>

    <li class="active"><a href="https://login.gatech.edu/cas/login?service=https://evitics.gatech.edu/login.php">Login</a></li>
  </ul> 
  <!-- Left Nav Section --> 
  <ul class="left">
  </ul>
</section>