<section id="checkinGuest" class="small-12 columns">
  <h3>{{organization.name}} - {{meeting.name}}</h3>
  <form id="checkinAGuest">
    <div class="row">
      <div class="small-12 columns">
        <label>Input Guest Id (GTID or GT-Username):
          <input type="text" id="guestId" type="text" placeholder="E.g: 902634095 or gburdell3" autofocus="autofocus">
        </label>
      </div>
    </div>
  </form>
</section>
<section class="small-12 columns" id="checkedinGuests">
  <h4>Checkedin Guests:</h4>
  <div class="row collapse">
    <h5>12:45pm - Colin Bookman <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/512/new-icon.png" width="25px" height="25px"><img src="http://www.psdgraphics.com/wp-content/uploads/2009/07/email-icon-graphic.gif" width="25px" height="25px"></h5>
  </div>
  <div class="row collapse">
    <h5>12:30pm - Colin Bookman</h5>
  </div>
  <div class="row collapse">
    <h5>12:25pm - Colin Bookman</h5>
  </div>
</section>