<div id="checkinGuest" class="small-12 columns">
  <h3>{{organization.name}} - {{meeting.name}}</h3>
  <form id="checkinAGuest">
    <div class="row">
      <div class="small-12 columns">
        <label>Input Guest Id (GTID or GT-Username):
          <input type="text" id="guestId" type="text" placeholder="E.g: 902634095 or gburdell3" autofocus="autofocus">
        </label>
      </div>
    </div>
  </form>
</div>

<div class="small-12 columns" id="checkedinGuests">

</div>