<div id="checkinGuest" class="small-12 columns">
  <h3>{{organization.name}} - {{meeting.name}}</h3>
  <form id="checkinAGuest">
    <div class="row">
      <div class="small-12 columns">
        <label>Input Guest Id (GTID or GT-Username):
          <input type="text" id="guestId" type="text" placeholder="E.g: 902634095 or gburdell3" autofocus="autofocus">
        </label>
      </div>
    </div>
  </form>
</div>

<div class="small-12 columns" id="checkedinGuests">
  <div class="row collapse">
    <div class="large-4 columns">
      <div class="row collapse">
        <h3>Statistics</h3>
        <ul>
          <li>53 Guests Atending</li>
          <li>5 Guests/min</li>
          <li>10 New Members</li>
        </ul>
      </div>
      <div class="row collapse">
        <h3>Event Information</h3>
        <ul>
          <li>
            Triggers:
            <ul>
              <li>New Member: Email</li>
            </ul>
          </li>
          <li>Location: Culc 204</li>
        </ul>
      </div>
    </div>
    <div class="large-8 columns">
      <h3>Checkedin Guests:</h3>
      <div class="row collapse">
        <h5>12:45pm - Colin Bookman <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/512/new-icon.png" width="25px" height="25px"><img src="http://www.psdgraphics.com/wp-content/uploads/2009/07/email-icon-graphic.gif" width="25px" height="25px"></h5>
      </div>
      <div class="row collapse">
        <h5>12:30pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
      <div class="row collapse">
        <h5>12:25pm - Colin Bookman</h5>
      </div>
    </div>
  </div>
</div>