<div class="small-12 columns organization-list">
  <section id="myOrganizations" class="row collapse">
    <h3>My Organizations:</h3>
    <ul class="myOrganizationList small-block-grid-2 medium-block-grid-5 large-block-grid-6">
    
    </ul>
  </section>

  <section id="otherOrganizations" class="row collapse">
    <h3>Other Organizations:</h3>
    <ul class="otherOrganizationList small-block-grid-2 medium-block-grid-5 large-block-grid-6 organization-list">
    </ul>
  </section>

  <section id="requestNew" class="row collapse" style="text-align:center;">
    <h3><a class="button" href="/organizations/new">Request a New Organization</a></h3>
  </section>

</div>