<section id="startEvent" class="large-6 large-push-6 columns fixed-top-right">
  <h3>Start an Event</h3>
  <form>
    <div class="row">
      <div class="medium-12 columns">
        <label>Organization
          <select>
            <option>--Please Select One--</option>
            <option>IEEE</option>
            <option>SGA</option>
            <option>Join an Organization</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns">
        <label>Event Name
          <select disabled="disabled">
            <option>--Please Select One--</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns">
        <a href="#null" class="button">Start Event</a>
  </form>
</section>

<section id="news" class="large-6 large-pull-6 columns">
  <h3>News</h3>
  <div class="row">
    <div class="medium-12 columns">
      <h4>IEEE</h4>
      <p>10 New Members</p>
      <p>1/20 - 200 members at general Meeting</p>
      <p>1/19 - 15 members at Hardware Meeting</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <h4>SGA</h4>
      <p>100 New Members</p>
      <p>1/20 - 200 members at IT Team Meeting</p>
      <p>1/19 - 15 members at Executive Board Get-together</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <h4>SGA</h4>
      <p>100 New Members</p>
      <p>1/20 - 200 members at IT Team Meeting</p>
      <p>1/19 - 15 members at Executive Board Get-together</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <h4>SGA</h4>
      <p>100 New Members</p>
      <p>1/20 - 200 members at IT Team Meeting</p>
      <p>1/19 - 15 members at Executive Board Get-together</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <h4>SGA</h4>
      <p>100 New Members</p>
      <p>1/20 - 200 members at IT Team Meeting</p>
      <p>1/19 - 15 members at Executive Board Get-together</p>
    </div>
  </div>
</section>
