<div class="small-12 columns organization-list">
  <div class="row collapse">
    <h3>My Organizations:</h3>
    <ul class="my-organizations small-block-grid-2 medium-block-grid-5 large-block-grid-6">
    
    </ul>
  </div>
  <div class="row collapse">
    <h3>Other Organizations:</h3>
    <ul class="other-organizations small-block-grid-2 medium-block-grid-5 large-block-grid-6 organization-list">
    
    </ul>
  </div>
</div>